#rwk_table tbody td{
    vertical-align: middle;
}


.top{
    height: 3rem;
    margin: 0rem 1rem;
}
.top_tab{
    height: 3rem;
    margin: 0.3rem auto;
    border: 1px solid #61c3c1;
    border-radius: 0.3rem;
    text-align: center;
    line-height: 3rem;
}

.top_tab .active{
    background-color: #61c3c1;
    color: #ffffff;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    text-align: center;
}
.top_tab .default{
    text-align: center;
    color: #000;
    font-family: "Microsoft YaHei";
    
}


.top_title{
    text-align: center;
    font-family: yahei;
    font-size: 2rem;
}

.time_pick{
    /*height: 2.5rem;*/
    margin: 1rem 1rem;
    line-height: 2.5rem;
}
.glyphicon-calendar{
    color: #61c3c1;
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin-left: 0.3rem;
    padding: 0rem;
}
.time_pick .time_pick_start{
    margin-bottom: 1rem;
}

.time_pick div input,.time_pick div span{
    padding:0rem;
}
.time_pick input{
    padding-left:1rem ;
}
.time_pick div,.time_pick div input,.time_pick button{
    height: 2.5rem;
    border-radius: 0.3rem;
    padding-right:0.1rem;
    margin-right: 0.1rem;

}

.time_pick_button{
    border: 1px solid #ddd;
    text-align: center;
    height: 2.5rem;
    border-radius: 1rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    background-color: #61c3c1;
    margin-top: 1rem;
    width: 4rem;
    color: #fff;

}

.swiper-button-prev,swiper-button-next{
    color: #61c3c1;
}